.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background 0.5s;
}

button {
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0 0 6px grey;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0 0 6px grey;
  transition: opacity 0.75s;
}

a {
  color: blue;
  text-decoration: none;
  font-style: italic;
}
